@mixin font-face($font-family, $font-path, $font-weight: normal, $font-style: normal) {
    @font-face {
        font-family : $font-family;
        src         : url($font-path) format('truetype');
        font-weight : $font-weight;
        font-style  : $font-style;
    }
}

// Importing fonts
@include font-face('Noto Sans JP'   , '../fonts/Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf');
@include font-face('Orbitron'       , '../fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
@include font-face('Roboto'         , '../fonts/Roboto/Roboto-VariableFont_wdth_wght.ttf');
@include font-face('Sankofa Display', '../fonts/Sankofa_Display/SankofaDisplay-Regular.ttf');
@include font-face('Major Mono Display', '../fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf');

@mixin font-title($font-size: 3rem, $font-weight: 700, $font-family: 'Sankofa Display') {
    font-family : $font-family;
    font-size   : $font-size;
    font-weight : $font-weight;
}
@mixin font-subtitle($font-size: 2rem, $font-weight: 500, $font-family: 'Major Mono Display') {
    font-family : $font-family;
    font-size   : $font-size;
    font-weight : $font-weight;
}
@mixin font-body($font-size: 1rem, $font-weight: 400, $font-families: 'Roboto' 'Noto Sans JP' sans-serif) {
    font-family : $font-families;
    font-size   : $font-size;
    font-weight : $font-weight;
}