@use 'fonts';
@use 'colors';
@use 'component';
@use 'hero';

@include hero.hero('../picture/programming.webp');
.circle{
    border-radius: 50%;
    overflow     : hidden;
    display      : inline-block;
    width        : 50px;
    height       : 50px;
}
.account-wrapper{
    display     : flex;
    align-items : center;
    gap         : 1rem;

    img.circle {
        width  : 50px;
        height : 50px;
    }
    span {
        font-size: 1.5rem;
    }
}